body {
    background: rgb(212, 212, 212);
  }

div {
text-align: right;
}

img {
  height: 50%;
  width: 25%;
}

.container-1 {
  background: conic-gradient(black 180deg 360deg, yellow 0deg 180deg); 

}